<h2>Registro de clientes </h2>
<form>
  <p>Nombre <input type="text" id="nombre" name="nombre"></p>
  <p>A. Pereno <input type="text" id="apat" name="apat"></p>
  <p>A. Materno <input type="text" id="amat" name="amat"></p>
  <p>Direccion <input type="text" id="dir" name="dir"></p>
  <p>Referencia <input type="text" id="ref" name="ref"></p>
  <p>Articulo <input type="text" id="art" name="art"></p>
  <p>Precio <input type="number" id="pre" name="pre"></p>
  <p> <input type="button" value="Registro"></p>

</form>
